extends layout

block content
  p Documentation for the BSB-Stockroom App - API Endpoints
  p Copy and paste the link below for the documentation. Add '/api' to see other routes. 
  p https://kutt.it/bsb-stockroom-apiEndpoints
